<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>{{Title}}</title>
    <script src="libs/angular.js"></script>
    <script>
        angular
            .module("myApp", [])
            .controller("ctrl", function ($scope, $rootScope,$compile) {
                $rootScope.Title = "Angular App";

                $scope.AddButton = function () {
                    var div = document.getElementById("container");
                    var templ = '<button type="button" ng-click="AddButton()">Click</button>';

                    var comp_templ = $compile(templ)($scope);
                    angular.element(div).append(comp_templ);
                }
            });
    </script>
</head>
<body>
    <div ng-controller="ctrl" id="container">
        <button type="button" ng-click="AddButton()">Click</button>
    </div>
</body>
</html>
