
@{
    ViewBag.Title = "Index";
}
<script>
    window.onload = function () {
        console.log("window.onload");
    }

    $(document).ready(function () {
        console.log("ready1");
    });

    $(document).ready(function () {
        console.log("ready2");
    });
</script>
<h2>Index</h2>

